{% include 'header' %}

import UIKit

class {{ prefix }}{{ module_info.name }}Router {

    weak var transitionHandler: ViperModuleTransitionHandler?
}

// MARK: - {{ prefix }}{{ module_info.name }}RouterInput

extension {{ prefix }}{{ module_info.name }}Router: {{ prefix }}{{ module_info.name }}RouterInput {
    
}