{% include 'header' %}

import UIKit

class {{ prefix }}{{ module_info.name }}Presenter {

    weak var moduleOutput: {{ prefix }}{{ module_info.name }}ModuleOutput?
    weak var view: {{ prefix }}{{ module_info.name }}ViewInput?
    var interactor: {{ prefix }}{{ module_info.name }}InteractorInput!
    var router: {{ prefix }}{{ module_info.name }}RouterInput!
    
}

// MARK: - {{ prefix }}{{ module_info.name }}ModuleInput

extension {{ prefix }}{{ module_info.name }}Presenter: {{ prefix }}{{ module_info.name }}ModuleInput {

}

// MARK: - {{ prefix }}{{ module_info.name }}ViewOutput

extension {{ prefix }}{{ module_info.name }}Presenter: {{ prefix }}{{ module_info.name }}ViewOutput {

    func viewDidLoad() {

    }
}
