{% include 'header' %}

import Foundation

class {{ prefix }}{{ module_info.name }}Interactor {
    
}

// MARK: - {{ prefix }}{{ module_info.name }}InteractorInput

extension {{ prefix }}{{ module_info.name }}Interactor: {{ prefix }}{{ module_info.name }}InteractorInput {
    
}